<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 layui.css -->
    <!-- <link href="//unpkg.com/layui@2.6.13/dist/css/layui.css" rel="stylesheet"> -->
    {% block head %}
    {% endblock head %}
    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/files/elementUI/index.css">
    <title>签到系统</title>
</head>

<body>

    <el-container>
        {% block header %}
        <el-header id='header'>
            <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect"
                background-color="#545c64" text-color="#fff" active-text-color="#ffd04b">
                <!-- <div class="center"> -->
                <el-menu-item index="1"><a :href="[[ url ]]">首页</a></el-menu-item>
                <el-menu-item index="2">重庆工商大学</el-menu-item>
                <el-menu-item index="3">人工智能学院</el-menu-item>
                <el-menu-item index="4">19级智能科学与技术二班</el-menu-item>
                <el-menu-item index="5">签到系统</el-menu-item>
                <!-- </div> -->
            </el-menu>
        </el-header>
        {% endblock header %}

        {% block main %}

        {% endblock main %}

        {% block footer %}
        <div id='footer'>
            <el-table :data="students" style="width: 100%" :row-class-name="tableRowClassName">
                <el-table-column prop="student_id" label="学号" width="180">
                </el-table-column>
                <el-table-column prop="name" label="姓名" width="180">
                </el-table-column>
                <el-table-column prop="status" label="是否签到">
                </el-table-column>
                <el-table-column prop="is_face_check" label="是否通过人脸识别">
                </el-table-column>
                <el-table-column prop="is_mask_check" label="是否通过口罩识别">
                </el-table-column>
            </el-table>
        </div>
        {% endblock footer %}


    </el-container>

    <!-- VUI要在element-UI之前导入 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="/static/files/elementUI/index.js"></script>
    <!-- 引入 axios.js -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        new Vue({
            el: '#header',
            delimiters: ['[[', ']]'],
            data: function () {
                return {
                    activeIndex: '1',
                    url: '/',
                };
            },
            methods: {

            }
        });

        new Vue({
            el: '#footer',
            delimiters: ['[[', ']]'],
            data: function () {
                return {
                    students: [{
                        student_id: '2019135229',
                        name: '莫岳恒',
                        status: 'true',
                        is_mask_check: 'true',
                        is_face_check: 'true',
                    }, {
                        student_id: '2019135229',
                        name: '莫岳恒',
                        status: 'true',
                        is_mask_check: 'true',
                        is_face_check: 'true',
                    }, {
                        student_id: '2019135229',
                        name: '莫岳恒',
                        status: 'false',
                        is_mask_check: 'true',
                        is_face_check: 'true',
                    },
                    ]
                };
            },
            mounted: function () {
                let url = '/students/';
                axios.get(url).then(response => {
                    // console.log(response);
                    // 清洗数据
                    students = response.data;
                    students.forEach(element => {
                        if (element.status) {
                            element.status = '成功';
                        }
                        if (element.is_face_check) {
                            element.is_face_check = '成功'
                        }
                        if (element.is_mask_check) {
                            element.is_mask_check = '成功'
                        }
                    });
                    console.log('response.data');
                    console.log(response.data)
                    console.log('this.students');
                    console.log(this.students)
                    this.students = students; // 这个地方出问题了
                    console.log('this.students');
                    console.log(this.students)
                }).catch(error => {
                    console.log(error)
                })
            },
            methods: {
                tableRowClassName({ row, rowIndex }) {
                    if (row.status === '成功') {
                        return 'success-row';
                    }
                    return 'warning-row';
                }
            }
        });
    </script>
</body>
<style>
    .el-table .warning-row {
        background: rgb(208, 53, 187);
    }

    .el-table .success-row {
        background: #4cc566;
    }

    .el-menu-item {
        font-size: 40px;
    } 
    .el-header,
    .el-footer {
        background-color: #B3C0D1;
        color: #333;
        text-align: center;
        line-height: 1000px;
    }

    .el-main {
        background-color: #E9EEF3;
        color: #333;
        text-align: center;
        line-height: 400px;
    }

    body>.el-container {
        margin-bottom: 0px;
    }
</style>

</html>